{% extends "base.html" %}
{% block title %}
    Free Trader
{% endblock %}

{% block content %}
    <div class="item1">Free Trader UI</div>

    <div class="item2">
        <form method="post" action="">
            <input title="Hi" about="About" type="submit" name="command" value="Start">
            <input type="submit" name="command" value="Stop">
            <input type="submit" name="command" value="Balance">
            <input type="submit" name="command" value="Stopbuy">
            <input type="submit" name="command" value="reload_conf">
            <input type="submit" name="command" value="status">
            <input type="submit" name="command" value="count">
            <input type="submit" name="command" value="profit">
            {#        <input type="submit" name="command" value="forcesell">#}
            {#        <input type="submit" name="command" value="forcebuy">#}
            <input type="submit" name="command" value="performance">
            <input type="submit" name="command" value="daily">
            <input type="submit" name="command" value="edge">
            <input type="submit" name="command" value="blacklist">
            <input type="submit" name="command" value="whitelist">
            <input type="submit" name="command" value="version">
        </form>
    </div>

    <div class="item3">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


    <div class="iframe-container">
        <iframe src="http://localhost:8050/dash"  style="border:none; margin:0; padding:0;">
    </div>
        <div class="iframe-container">
        <iframe src="http://localhost:8050/dash">
    </div>

{% endblock %}
